@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

:root {
  --primary: rgb(84, 63, 203);
  --text-dark: rgb(61, 61, 61);
  --text-light: rgb(87, 87, 87);
  --gray: rgb(215, 215, 215);
  --white: rgb(255, 255, 255);
  --bg: rgb(233, 235, 236);
  --card-overlay: linear-gradient(45deg, rgba(9, 9, 43, 0.9) 0%, rgba(9, 9, 43, 0.6) 35%, rgba(9, 9, 43, 0.9) 100%);
  --container: 60rem;
}

html {
  font-size: 62.5%;
  font-family: 'Poppins', sans-serif;
}

html[theme="dark"] {
  --bg: rgb(9, 9, 43);
  --text-dark: rgb(244, 244, 244);
  --text-light: rgb(241, 241, 241);
  --btn-text: rgb(61, 61, 61);
}

::-webkit-scrollbar {
  width: 1.2rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 1.2rem;
  background: var(--text-light);
}

::-webkit-scrollbar-track {
  background: var(--gray);
}

body {
  font-size: 1.6rem;
  background: var(--bg);
  color: var(--text-dark);
}

i {
  font-size: 3rem;
}

.container {
  max-width: var(--container);
  padding: 0 1rem;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.btn {
  display: inline-flex;
  padding: 0.7rem 2rem;
  align-items: center;
  gap: 1rem;
  font-size: 1.9rem;
  border-radius: 0.5rem;
  font-weight: 500;
  cursor: pointer;
}

.btn-primary {
  background: var(--primary);
  color: var(--white);
}

.btn-secondary {
  background: var(--white);
  color: var(--text-light);
}

#main {
  padding: 2rem 0;
}

.theme-btn {
  display: inline-block;
  background: var(--white);
  width: 3.8rem;
  height: 3.8rem;
  line-height: 3.8rem;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
}

.theme-btn i {
  color: var(--btn-text);
}

.profile-container {
  display: grid;
  grid-template-columns: 2fr 3fr;
  align-items: center;
}

.profile-image img {
  width: 15rem;
  height: 15rem;
  object-fit: contain;
  outline-offset: 0.4rem;
  background: var(--primary);
  outline: 0.3rem solid var(--primary);
  border-radius: 50%;
}

.heading {
  font-size: 4rem;
}

.title {
  margin-bottom: 1rem;
}

.social-icons li {
  display: inline-block;
  cursor: pointer;
}

.social-icons li a {
  color: var(--text-dark);
}

.project-count {
  padding: 4rem 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.project-count-item span {
  display: block;
  font-size: 1.7rem;
  color: var(--text-light);
  font-weight: 500;
}

.action-btns {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.action-btns .btn i {
  font-size: 2.4rem !important;
}

.action-btn i {
  color: var(--text-dark);
  font-size: 2.6rem;
}

.portfolio {
  padding: 3rem 0 0 0;
}

.portfolio-navigation {
  background: var(--white);
  padding: 1rem;
  border-radius: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 2rem;
}

.portfolio-navigation li {
  display: inline-block;
  text-align: center;
  padding: 0.8rem 8rem !important;
  transition: all 0.5s ease;
  color: var(--btn-text);
}

.portfolio-navigation li.active {
  background: var(--gray);
  color: var(--btn-text);
}

.portfolio-container {
  padding: 3rem 0;
}

.tab {
  display: none !important;
}

.tab-active {
  display: grid !important;
}

.portfolio-items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.portfolio-item {
  height: 17rem;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.portfolio-img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 1rem;
}

.portfolio-img img {
  width: 100%;
  height: 100%;
  border-radius: inherit;
}

.portfolio-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  background-image: var(--card-overlay);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 1rem;
  opacity: 0;
  visibility: hidden;
  transform: scale(0);
  pointer-events: none;
  clip-path: circle(0% at 50% 50%);
  color: var(--white);
  padding: 1rem;
  transform-origin: bottom;
  transition: all 0.5s ease;
}

.portfolio-overlay a {
  color: var(--white);
}

.portfolio-item:hover .portfolio-overlay {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  pointer-events: all;
  clip-path: circle(100% at 50% 50%);
  transition: all 0.5s ease;
}

.portfolio-overlay a {
  margin-top: 0.5rem;
}

.portfolio-overlay a i {
  display: inline-block;
  padding: 0.4rem;
  border-radius: 0.4rem;
  font-size: 2.4rem;
  background: rgb(101, 46, 227);
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 1rem;
}

.skills-list {
  position: relative;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding: 0 3rem;
}

.skills-list::before {
  position: absolute;
  content: '';
  left: 1rem;
  top: 45%;
  width: 0.3rem;
  height: 135%;
  background: var(--primary);
}

.skills-list:nth-child(15):before,
.skills-list:last-child:before {
  width: 0;
  height: 0;
}

.skills-list::after {
  position: absolute;
  content: '';
  left: 0.4rem;
  top: 29%;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 1rem;
  background: var(--primary);
}

.skills-list i {
  color: var(--primary);
}

@media (max-width:500px) {
  .action-btns {
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  }
  .portfolio-items {
    grid-template-columns: repeat(1, 1fr);
  }
  .portfolio-item {
    height: 25rem;
  }
  .project-count {
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  }
}

@media (max-width:438px) {
  .profile-container {
    padding-top: 3rem;
    text-align: center;
    grid-template-columns: repeat(1, 1fr);
  }
  .project-count {
    text-align: center;
  }
}

@media (max-width:429.5px) {
  .skills-list:last-child:before {
    top: -75%;
    width: 0.3rem;
    height: 135%;
  }
}

@media (max-width:400px) {
  .portfolio-item {
    height: 20rem;
  }
}